@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-width: 1000px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  height: 500px;
}
.header-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.hero {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-second {
  color: #e5e7eb;
}
.align-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex: 1;
}
.img-placeholder {
  background: lightslategray;
  color: white;
  text-align: center;
  padding: 100px;
}
.hero-button {
  align-self: flex-start;
  background-color: #3882f6;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 20px;
  font-weight: bold;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 40px;
}

.item {
  width: 140px;
  height: 200px;
  border: solid skyblue;
  border-radius: 10px;
}

.info-item {
  width: 140px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.quote {
  background-color: #e5e7eb;
  padding: 100px;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 1000px;
  display: flex;
}

.quote-content {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.thor {
  font-size: 25px;
  align-self: flex-end;
  font-weight: bold;
}
.cta {
  display: flex;
  flex-direction: column;
  color: white;
}
.cta-parent {
  margin: 100px 50px;
  background-color: #3882f6;
  padding: 40px 50px;
  border-radius: 8px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  padding: 0;
  margin: 0;
}
.button {
  background-color: #3882f6;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 6px 24px;
}
.footer {
  background-color: #1f2937;
  text-align: center;
  color: white;
  padding: 32px 0;
}
